@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@config "../../tailwind.config.js";

body {
  background-color: #e6f7ff;
  color: #333333;
  font-family: 'Rubik', sans-serif;
  line-height: 1.6;
}
